<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{pages/staff}">
<head>
    <title>Agama - Data</title>
</head>
<body>

<section>
    <div layout:fragment="side-content">
        <div th:insert="~{pages/master/agama/index :: panel-default }">
        </div>
        <hr/>
        <div th:insert="~{layout/sidebar-admin :: sidebar }"></div>
    </div>
    <div layout:fragment="main-content">
        <ol class="breadcrumb">
            <li><a href="#" th:href="@{/}">Home</a></li>
            <li><a href="#" th:href="@{/agama/list}">Agama</a></li>
            <li class="active">Data</li>
        </ol>

        <div class="page-header">
            <h1>Data Agama</h1>
            <small>
                <p>Menu ini digunakan untuk memanipulasi data Agama.</p>
            </small>
        </div>
        <div>
            <!--/*@thymesVar id="agama" type="id.co.ukabima.model.master.Agama"*/-->
            <form action="#" method="post" th:object="${agama}" th:method="post" th:action="@{/agama/submit}">
                <div class="form-group">
                    <label for="kode" class="input-label">Kode</label>
                    <input type="text" name="kode" id="kode" class="form-control" th:field="*{id}" readonly="readonly"/>
                </div>
                <div class="form-group">
                    <label for="nama">Nama</label>
                    <input type="text" name="nama" id="nama" th:field="*{nama}" class="form-control"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Kirim</button>
                    <button type="reset" class="btn btn-warning">Kembali</button>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>