<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{pages/staff}">
<head>
    <title>Agama - List</title>
</head>
<body>

<section>
    <div layout:fragment="side-content">
        <div class="panel panel-default" th:fragment="panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Data Master - Agama
                </h4>
            </div>
            <div role="tabpanel">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#" th:href="@{/agama/list}">Daftar Data</a></li>
                        <li><a href="#" th:href="@{/agama/form}">Tambah Data</a></li>
                        <li><a href="#" th:href="@{/agama/cetak}">Cetak</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr/>
        <div th:insert="~{layout/sidebar-admin :: sidebar }"></div>
    </div>
    <div layout:fragment="main-content">
        <ol class="breadcrumb">
            <li><a href="#" th:href="@{/}">Home</a></li>
            <li><a href="#" th:href="@{/agama/list}">Agama</a></li>
            <li class="active">List</li>
        </ol>

        <div class="page-header">
            <h1>Daftar Agama</h1>
            <small>
                <p>Menu ini digunakan untuk menampilkan daftar master Agama.</p>
            </small>
        </div>
        <table class="table table-bordered" id="listAgama">
            <thead>
            <tr>
                <td>No</td>
                <td>Nama</td>
                <td>Aksi</td>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <script src="../../../../static/js/master/agama.js"
                th:src="@{/js/master/agama.js}">
        </script>
    </div>
</section>
</body>
</html>