<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/head :: head}">
    <title>Halaman Staff</title>
</head>
<body>

<nav th:replace="layout/header::nav"></nav>

<section class="container">
    <div class="col-md-3" layout:fragment="side-content">
        <div th:insert="~{layout/sidebar-admin :: sidebar }"></div>
    </div>
    <div class="col-md-9" layout:fragment="main-content">
        Main Content
    </div>
</section>
</body>
</html>